body {
    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
    min-height: 100vh;
}

.card-box {
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    max-width: 850px;
    color: white;
}

table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}