<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container py-5">
    <div class="card-box mx-auto p-4">

        <h1 class="text-center mb-4">
            URL Shortener 🔗
        </h1>

        <form method="POST">
            <input
                type="text"
                class="form-control mb-3"
                name="url"
                placeholder="Paste long URL..."
                required
            >

            <button class="btn btn-primary w-100">
                Shorten URL
            </button>
        </form>

        {% if short_url %}
        <div class="alert alert-success mt-4">
            <strong>Short URL:</strong>

            <div class="d-flex mt-2">
                <input
                    id="shortUrl"
                    class="form-control"
                    value="{{ short_url }}"
                    readonly
                >

                <button
                    class="btn btn-success ms-2"
                    onclick="copyURL()"
                >
                    Copy
                </button>
            </div>
        </div>
        {% endif %}

        <h3 class="mt-5">URL History</h3>

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>

            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url.original_url }}</td>
                    <td>
                        <a href="/{{ url.short_code }}">
                            {{ request.host_url }}{{ url.short_code }}
                        </a>
                    </td>
                    <td>{{ url.clicks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script>
function copyURL() {
    let copyText =
        document.getElementById("shortUrl");

    copyText.select();

    document.execCommand("copy");

    alert("Copied!");
}
</script>

</body>
</html>